#inputContext{
  min-height: 10em;
  resize: none !important;
}
.rounded-form{
  border-radius: 1.5em !important;
}
.btn-submit{
  border-radius: 1.5em !important;
  background-color: #00abc5 !important;
  border-color: #00abc5 !important;
}
