.fas.fa-shopping-cart {
  color: white;
}

.navbar-brand {
  font-size: 1.5rem !important;
  font-family: "Roboto", sans-serif;
}

.padding-container-fluid {
  padding-left: 10rem !important;
  padding-right: 10rem !important;
}

.carousel-item {
  width: 100%;
  height: 500px;
}

.carousel-item img {
  border-radius: 10px;
  width: 100%;
  max-width: 100%;
  height: 60vh;
  object-fit: fill;
}

@media only screen and (max-width: 768px) {
  .item_name {
    display: none;
  }
}

.top-rating {
  position: relative;
}
.slider-arrow {
  background: none;
  opacity: 0.5;
  position: absolute;
  overflow: visible;
}

.rightcenter {
  right: 0rem;
  top: 50%;
  bottom: auto;
}
.leftcenter {
  left: 0rem;
  top: 50%;
  bottom: auto;
}
.auto {
  display: none;
}
.card {
  transition: all 0.3s ease 0s;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
  transform: scale(1.005);
  border: 1px solid #cccccc;
  background-color: white;
}

.see-all {
  color: white;
}
.see-all:hover {
  color: white;
  text-decoration: none;
}

.card-img-top {
  width: 100%;
}
.price {
  color: #ed0000;
  font-size: 1.25rem;
  font-weight: 700;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sticky {
  position: unset;
  display: none;
  top:100px;
  margin-top: 400px;
}
.sticky-banner{
  width: 8rem;

}

@media (min-width: 1300px)  {
  /* .sticky {
    position: sticky;
    top: 100px;
    display: block;
  } */
}

