.border.border-primary.custom-border-width {
    border-width: 2px !important;
}

.cart-icon-wrapper {
    position: relative;
}

.number-item-cart {
    position: absolute;
    right: -14px;
    top: -3px;
}

.name  {
    font-family: 'Roboto', sans-serif;
}
.nav-item>* {
    color: white !important;
    font-family: 'Roboto', sans-serif;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}

.padding-container-fluid {
    padding-left: 10rem !important;
    padding-right: 10rem !important;
}


.carousel-item {
    width: 100%;
    height: 500px;
}

.carousel-item img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-10px);
    }

    100% {
        transform: translatey(0px);
    }
}

.custom-toggler.navbar-toggler {
    background-color: rgb(255, 255, 255) !important;
  } 

.logo-wrapper img {
    overflow: hidden;
    background-color: white;
    transform: translatey(0px);
    animation: float 5s ease-in-out infinite;
}

.navbar-nav .nav-item:not(:last-child) {
    border-right: 1px solid white;
    
}

.navbar-nav .nav-item {
    padding-right: 1em;	
    margin-right: 1em;
}

@media all and (min-width:991px) {  
    .dropdown:after{
        content: ''; 
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transition: opacity .15s ease-in-out;
        opacity: 0;
        visibility:hidden;
        background-color: rgba(0,0,0,.7);
        pointer-events: none;
    }
    .dropdown.show .nav-link{
      position:relative;
      z-index:12;
    }
    .dropdown.show:after{
      z-index:10; opacity:1; 
      visibility:visible;
      position: fixed;
    }
  }

@media only screen and (max-width: 768px) {
    .name {
        display: none;
    }
    .navbar-nav .nav-item:not(:last-child) {
        border-right: none;
    }
}